<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="<%= htmlWebpackPlugin.options.settings.global.meta.google_site_verification %>" />
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script>
    window.GA = "<%= htmlWebpackPlugin.options.GA %>";
    window.lastUpdated = "<%= htmlWebpackPlugin.options.lastUpdated %>";
  </script>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.settings.global.meta.title %>" />
  <meta property="og:url" content="<%= htmlWebpackPlugin.options.settings.global.website %>" />
  <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.settings.global.meta.title %>" />
  <meta property="fb:admins" content="<%= htmlWebpackPlugin.options.settings.global.meta.fb_admin %>" />
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.settings.global.website %>/favicon.png" />
  <meta property="og:image:secure_url" content="<%= htmlWebpackPlugin.options.settings.global.website %>/favicon.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.settings.global.meta.title %>" />
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.settings.global.meta.description %>. Updated: <%= htmlWebpackPlugin.options.lastUpdated %>" />
  <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.settings.global.meta.facebook %>" />
  <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.settings.global.website %>/favicon.png" />
  <meta name="twitter:creator" content="<%= htmlWebpackPlugin.options.settings.global.meta.facebook %>" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.settings.global.meta.description %>. Updated: <%= htmlWebpackPlugin.options.lastUpdated %>" />
  <meta name="msvalidate.01" content="<%= htmlWebpackPlugin.options.settings.global.meta.ms_validate %>" />
  <title><%= htmlWebpackPlugin.options.settings.global.meta.title %></title>
  <script>
    if (navigator.userAgent !== "ReactSnap") {
      const parts = window.location.pathname.split('/'); // for example: /cncf/members or  /lfai/landscape or /a/s/d/f
      const prefix = '<%= htmlWebpackPlugin.options.prefix %>';
      if (parts[1] === prefix) {
        if (parts[3]) {
          window.location = '/' + prefix + '/';
        }
      }
      else if (parts[2]) {
        window.location = '/'
      }
    }
  </script>
  <script>
    // adjust size
    document.addEventListener("DOMContentLoaded", function() {
      const el = document.querySelector('.landscape-wrapper');
      if (el) {
        var height = el.parentElement.clientHeight + window.innerHeight -
        document.body.offsetHeight;
        el.style.height = height + "px";
      } else {
        console.info('No el to adjust');
      }
    });
  </script>
</head>
<body>
  <div id="app"></div>
  </body>
</html>
